.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}


.headerTitles {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s ease-in;  /* Apply fadeIn animation -- after creating animation inside index.css */
}

.headerTitles h2 {
    font-size: max(4.5vw, 22px);
    color: #fff;
    font-weight: 500;
}

.headerTitles p {
    font-size: 1.2vw;
    color: #fff;
    font-weight: 300;
    line-height: 1.4;
    max-width: 80%;
}
/* Button styles */
.headerTitles button {
    border: none;
    padding: 1vw 2.3vw;
    font-size: max(1vw, 13px);
    background-color: #d7c9c3;
    color: rgb(255, 255, 255);
    border-radius: 9999px; /* pill-shaped button */
    cursor: pointer;
    transition: background-color 150ms ease, transform 150ms ease;
}

.headerTitles button:hover {
    background-color: #cbb8b4;
    transform: translateY(-2px);
}


