.exploreMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}   

.exploreMenu h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
}   

.exploreMenuDescription {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  max-width: 60%;
}     

.exploreMenuList {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;margin: 20px 0px;
  overflow-x: scroll;
}

.exploreMenuList::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
} 

.exploremenuItems img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;

}

.exploremenuItems p {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
}

.exploreMenu hr {
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 20px 0px;
}

.exploremenuItems .active {
  border: 2px solid #ff6f61;
  padding: 5px;
}


    
    

