@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: outfit;
}
body {
  font-family: outfit;
  background-color: #fff8f0;
  color: #333;
  line-height: 1.6;
}
a {
  color: inherit;
  text-decoration: none;
}

.app {
  width: 80%;
  margin: auto;
  
} 

/* Fade-in animation creation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}